@charset "utf-8";
body {
  color: #333;
  background: #fff;
  padding: 6px 0 0;
  margin: 0;
  position: relative;
  min-width: 1024px;
  font-family: arial;
}
p,
form,
ol,
ul,
li,
dl,
dt,
dd,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
table,
img {
  border: 0;
}
.title {
  width: 100%;
  height: 49px;
  border-bottom: 1px solid #EBEBEB;
  min-width: 1024px;
  position: fixed;
  z-index: 999;
}
.title_logo {
  float: left;
  display: inline;
  width: 101px;
  height: auto;
  margin: 0 10px;
}
.title_search {
  float: left;
  display: inline;
  border: 1px solid grey;
  width: 530px;
  height: 32px;
  margin: 4px 0px 0px 15px;
  padding-right: -5px;
  position: relative;
}
.title_search_input {
  width: 395px;
  height: 32px;
  margin-left: 5px;
  font-size: 16px;
  background: transparent;
  border: 0;
  outline: 0;
  padding-left: 10px;
}
.title_search_camera {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  right: auto;
  bottom: auto;
  left: 400px;
  background: url("../img/camera.png") 0 0;
  display: block;
}
.title_search_camera:hover {
  background-position: 0 -20px;
}
.title button {
  width: 100px;
  height: 34px;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: auto;
  left: auto;
  background-color: #3385FF;
  color: #fff;
  border: none;
}
.title_menu {
  float: right;
  display: inline;
  width: 200px;
  height: auto;
  font-size: 12px;
  margin: 10px 15px 0 0 ;
}
.title_menu a {
  color: grey;
  text-decoration: underline;
  margin-left: 20px;
}
.title_menu_set {
  position: relative;
}
.title_menu_set i {
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 4px solid grey;
  position: absolute;
  top: 5px;
  right: auto;
  bottom: auto;
  left: auto;
}
.title_menu_set ul {
  width: 60px;
  height: 80px;
  position: absolute;
  top: 15px;
  right: auto;
  bottom: auto;
  left: -40px;
  border: 1px solid grey;
  text-align: center;
  display: none;
}
.title_menu_set:hover ul {
  display: block;
}
